.*.c.P
.*.h.P
.*.d
.*.sw?
*~
*.a
*.bin
*.env
*.E
*.o
*.map
*.pc
*.S
!src/guids.S
*.so
*.so.*
*.spec
*.strace
*.tar.*
*.var
core.*
cov-int
vgcore.*
scan-results/
src/efivar
src/efivar-static
src/makeguids
src/guid-symbols.c
