.*.c.P
.*.h.P
.*.d
.*.sw?
.gdb_history
*~
*.a
*.bin
*.C
/.cache/
*.cer
*.E
*.env
*.esl
*.o
*.map
*.pc
*.S
*.so
*.so.*
*.spec
*.strace
*.tar.*
*.var
compile_commands.json
core.*
cov-int
vgcore.*
scan-results/
